/* GENERIC */

/* YEKAN BAKH */

@font-face {
  font-family: "yekanbakh";

  font-style: normal;

  font-weight: 100;

  src: url("../fonts/YekanBakh/YekanBakhFaNum-Thin.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "yekanbakh";

  font-style: normal;

  font-weight: 300;

  src: url("../fonts/YekanBakh/YekanBakhFaNum-Light.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "yekanbakh";

  font-style: normal;

  font-weight: normal;

  src: url("../fonts/YekanBakh/YekanBakhFaNum-Regular.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "yekanbakh";

  font-style: normal;

  font-weight: 700;

  src: url("../fonts/YekanBakh/YekanBakhFaNum-Bold.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "yekanbakh";

  font-style: normal;

  font-weight: 600;

  src: url("../fonts/YekanBakh/YekanBakhFaNum-SemiBold.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "yekanbakh";

  font-style: normal;

  font-weight: 750;

  src: url("../fonts/YekanBakh/YekanBakhFaNum-ExtraBold.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "yekanbakh";

  font-style: normal;

  font-weight: 900;

  src: url("../fonts/YekanBakh/YekanBakhFaNum-ExtraBlack.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "yekanbakh";

  font-style: normal;

  font-weight: 800;

  src: url("../fonts/YekanBakh/YekanBakhFaNum-Black.woff") format("woff");

  font-display: swap;
}

/* YEKAN BAKH */

@font-face {
  font-family: "montserrat";

  font-style: normal;

  font-weight: 100;

  src: url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff");

  font-display: swap;
}

@font-face {
  font-family: "montserrat";

  font-style: normal;

  font-weight: 200;

  src: url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "montserrat";

  font-style: normal;

  font-weight: 300;

  src: url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "montserrat";

  font-style: normal;

  font-weight: normal;

  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "montserrat";

  font-style: normal;

  font-weight: 500;

  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "montserrat";

  font-style: normal;

  font-weight: 600;

  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "montserrat";

  font-style: normal;

  font-weight: 700;

  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "montserrat";

  font-style: normal;

  font-weight: 800;

  src: url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff");

  font-display: swap;
}

/*FONT-ICON*/

@font-face {
  font-family: 'icomoon';

  src: url("../fonts/icon/icomoon.eot?xk61jf");

  src: url("../fonts/icon/icomoon.eot?xk61jf#iefix") format("embedded-opentype"), url("../fonts/icon/icomoon.ttf?xk61jf") format("truetype"), url("../fonts/icon/icomoon.woff?xk61jf") format("woff"), url("../fonts/icon/icomoon.svg?xk61jf#icomoon") format("svg");

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send-svgrepo-com-1:before {
  content: "\e92b";
}

.icon-chat-round-call-svgrepo-com:before {
  content: "\e92c";
  color: #1c274c;
}

.icon-close:before {
  content: "\e92d";
}

.icon-bag1:before {
  content: "\e92e";
}

.icon-user:before {
  content: "\e92f";
}

.icon-Play:before {
  content: "\e929";
}

.icon-Twiter-2:before {
  content: "\e928";
}

.icon-Linked-in-2:before {
  content: "\e927";
}

.icon-Instagram-2:before {
  content: "\e926";
}

.icon-Youtube-2:before {
  content: "\e925";
}

.icon-Facebook-2:before {
  content: "\e923";
}

.icon-grid:before {
  content: "\e907";
}

.icon-down:before {
  content: "\e921";
}

.icon-left:before {
  content: "\e922";
}

.icon-call:before {
  content: "\e92a";
}

.btn-modern {
  position: relative;
  z-index: 10;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  border-radius: 0.375rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(255 130 86 / var(--tw-border-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 14px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.btn-modern:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 992px) {
  .btn-modern {
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.btn-modern span {
  position: relative;
  z-index: 10;
}

.btn-modern::after {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 130 86 / var(--tw-bg-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  --tw-content: '';
  content: var(--tw-content);
}

.btn-modern:hover::after {
  width: 100%;
}

.btn-public {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(253 207 8 / var(--tw-bg-opacity));
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn-public:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(203 166 3 / var(--tw-bg-opacity));
}

@media (min-width: 992px) {
  .btn-public {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
}

.btn-public{
  /* color: #cba603 */
}

.btn-secondary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.btn-secondary span {
  position: relative;
  z-index: 10;
  font-size: 20px;
  font-weight: 700;
}

.btn-secondary::before {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  height: 100%;
  width: 60%;
  border-radius: 0.25rem;
  background-color: rgb(255 255 255 / 0.7);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  --tw-content: '';
  content: var(--tw-content);
}

.group:hover .btn-secondary::before {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.title-public {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

@media (min-width: 992px) {
  .title-public {
    font-size: 24px;
  }
}

.title-public-larg {
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .title-public-larg {
    font-size: 26px;
  }
}

.title-public-xl {
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .title-public-xl {
    font-size: 22px;
  }
}

.title-public-secondary {
  --tw-text-opacity: 1;
  color: rgb(38 64 101 / var(--tw-text-opacity));
}

.title-public-medium {
  font-size: 16px;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

@media (min-width: 992px) {
  .title-public-medium {
    font-size: 18px;
  }
}

.title-public-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.subtitle-public {
  font-size: 14px;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 992px) {
  .subtitle-public {
    font-size: 16px;
  }
}

.text-public {
  text-align: justify;
  font-size: 14px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

@media (min-width: 992px) {
  .text-public {
    font-size: 18px;
  }
}

.text-public-small {
  text-align: center;
  font-size: 14px;
  --tw-text-opacity: 1;
  color: rgb(78 78 78 / var(--tw-text-opacity));
}

@media (min-width: 992px) {
  .text-public-small {
    font-size: 16px;
  }
}

.text-public-light {
  --tw-text-opacity: 1;
  color: rgb(134 134 134 / var(--tw-text-opacity));
}

/* SECTIONS */

.points-slide {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.60);
}

@media not all and (min-width: 992px) {
  .points-slide {
    width: 170px;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    --tw-shadow: 0px 4px 16px 0px #EAEAEA;
    --tw-shadow-colored: 0px 4px 16px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 992px) {
  .points-slide {
    border-left-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(217 217 217 / var(--tw-border-opacity));
  }

  .points-slide:last-child {
    border-left-width: 0px;
  }
}

.points-slide-img {
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  max-height: 45px;
}

.points-slide-img-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.points-slide-img-box::after {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  height: 2rem;
  width: 2rem;
  --tw-translate-y: -50%;
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(253 207 8 / var(--tw-bg-opacity));
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  --tw-content: '';
  content: var(--tw-content);
}

.group:hover .points-slide-img-box::after {
  opacity: 1;
}

.relationship {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
  --tw-gradient-from: #6c6c6c var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(108 108 108 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 992px) {
  .relationship {
    font-size: 16px;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.relationship::after{
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  top: 50%;
  right: 50%;
  --tw-translate-y: -50%;
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(48 48 48 / var(--tw-bg-opacity));
  --tw-content: '';
  content: var(--tw-content)
}

/* #menu{
    @apply
} */

/* ! tailwindcss v3.3.3 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

html , body {
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  text-align: right;
  font-family: "yekanbakh";
  direction: rtl;
}

button {
  cursor: pointer;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.black-gradient::after{
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.02) 71.7%);
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  --tw-content: '';
  content: var(--tw-content)
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-right-\[320px\] {
  right: -320px;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.z-10 {
  z-index: 10;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.-m-16 {
  margin: -4rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-auto {
  margin-right: auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0px;
}

.h-0\.5 {
  height: 0.125rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[190px\] {
  height: 190px;
}

.h-\[270px\] {
  height: 270px;
}

.h-\[80px\] {
  height: 80px;
}

.h-full {
  height: 100%;
}

.max-h-10 {
  max-height: 2.5rem;
}

.max-h-\[150px\] {
  max-height: 150px;
}

.max-h-\[45px\] {
  max-height: 45px;
}

.max-h-\[60px\] {
  max-height: 60px;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-1\/4 {
  width: 25%;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[10\%\] {
  width: 10%;
}

.w-\[22\%\] {
  width: 22%;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[360px\] {
  width: 360px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-\[40\%\] {
  width: 40%;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.max-w-\[45\] {
  max-width: 45;
}

.max-w-\[45px\] {
  max-width: 45px;
}

.max-w-full {
  max-width: 100%;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border-y-2 {
  border-top-width: 2px;
  border-bottom-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-l {
  border-left-width: 1px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-natural {
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity));
}

.border-natural-beta {
  --tw-border-opacity: 1;
  border-color: rgb(188 188 188 / var(--tw-border-opacity));
}

.bg-dark-alpha {
  --tw-bg-opacity: 1;
  background-color: rgb(74 74 74 / var(--tw-bg-opacity));
}

.bg-darker {
  --tw-bg-opacity: 1;
  background-color: rgb(48 48 48 / var(--tw-bg-opacity));
}

.bg-light\/10 {
  background-color: rgb(134 134 134 / 0.1);
}

.bg-light\/50 {
  background-color: rgb(134 134 134 / 0.5);
}

.bg-natural {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity));
}

.bg-natural-tetha {
  background-color: rgba(244, 244, 244, 0.93);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-cover {
  background-size: cover;
}

.p-1 {
  padding: 0.25rem;
}

.p-16 {
  padding: 4rem;
}

.p-4 {
  padding: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-3xl {
  font-size: 26px;
}

.text-base {
  font-size: 16px;
}

.text-md {
  font-size: 18px;
}

.text-sm {
  font-size: 14px;
}

.text-xl {
  font-size: 22px;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.text-light {
  --tw-text-opacity: 1;
  color: rgb(134 134 134 / var(--tw-text-opacity));
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(38 64 101 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.shadow-alpha-light {
  --tw-shadow: 0px 4px 16px 0px #EAEAEA;
  --tw-shadow-colored: 0px 4px 16px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-beta-light {
  --tw-shadow: 0px 24px 50px rgba(0, 0, 0, 0.15);
  --tw-shadow-colored: 0px 24px 50px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.last\:mb-0:last-child {
  margin-bottom: 0px;
}

.last\:border-l-0:last-child {
  border-left-width: 0px;
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-light:hover {
  --tw-text-opacity: 1;
  color: rgb(134 134 134 / var(--tw-text-opacity));
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(253 207 8 / var(--tw-text-opacity));
}

.hover\:shadow-tetha-light:hover {
  --tw-shadow: 0px 28px 57px 0px rgba(190, 190, 190, 0.25);
  --tw-shadow-colored: 0px 28px 57px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.group:hover .group-hover\:text-primary {
  --tw-text-opacity: 1;
  color: rgb(253 207 8 / var(--tw-text-opacity));
}

@media not all and (min-width: 992px) {
  .max-lg\:order-1 {
    order: 1;
  }

  .max-lg\:order-2 {
    order: 2;
  }

  .max-lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .max-lg\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .max-lg\:mb-4 {
    margin-bottom: 1rem;
  }

  .max-lg\:mb-8 {
    margin-bottom: 2rem;
  }

  .max-lg\:hidden {
    display: none;
  }

  .max-lg\:w-\[220px\] {
    width: 220px;
  }

  .max-lg\:max-w-\[300px\] {
    max-width: 300px;
  }

  .max-lg\:overflow-visible {
    overflow: visible;
  }

  .max-lg\:bg-natural {
    --tw-bg-opacity: 1;
    background-color: rgb(217 217 217 / var(--tw-bg-opacity));
  }

  .max-lg\:text-sm {
    font-size: 14px;
  }
}

@media not all and (min-width: 768px) {
  .max-md\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .max-md\:w-\[235px\] {
    width: 235px;
  }

  .max-md\:overflow-visible {
    overflow: visible;
  }

  .max-md\:border-2 {
    border-width: 2px;
  }
}

@media not all and (min-width: 576px) {
  .max-sm\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .max-sm\:ml-2 {
    margin-left: 0.5rem;
  }

  .max-sm\:flex {
    display: flex;
  }

  .max-sm\:hidden {
    display: none;
  }

  .max-sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .max-sm\:bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
  }
}

@media (min-width: 576px) {
  .sm\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .sm\:mb-4 {
    margin-bottom: 1rem;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:w-1\/3 {
    width: 33.333333%;
  }

  .sm\:w-1\/5 {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .md\:-m-4 {
    margin: -1rem;
  }

  .md\:h-\[100px\] {
    height: 100px;
  }

  .md\:max-h-\[60px\] {
    max-height: 60px;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:p-4 {
    padding: 1rem;
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 992px) {
  .lg\:order-2 {
    order: 2;
  }

  .lg\:order-3 {
    order: 3;
  }

  .lg\:-m-8 {
    margin: -2rem;
  }

  .lg\:-m-5 {
    margin: -1.25rem;
  }

  .lg\:-mt-16 {
    margin-top: -4rem;
  }

  .lg\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .lg\:mb-12 {
    margin-bottom: 3rem;
  }

  .lg\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .lg\:mb-7 {
    margin-bottom: 1.75rem;
  }

  .lg\:mr-auto {
    margin-right: auto;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[130px\] {
    height: 130px;
  }

  .lg\:h-\[380px\] {
    height: 380px;
  }

  .lg\:max-h-\[120px\] {
    max-height: 120px;
  }

  .lg\:max-h-\[250px\] {
    max-height: 250px;
  }

  .lg\:max-h-\[55px\] {
    max-height: 55px;
  }

  .lg\:max-h-\[60px\] {
    max-height: 60px;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-2\/5 {
    width: 40%;
  }

  .lg\:w-3\/5 {
    width: 60%;
  }

  .lg\:w-\[26\%\] {
    width: 26%;
  }

  .lg\:w-\[40\%\] {
    width: 40%;
  }

  .lg\:w-\[60\%\] {
    width: 60%;
  }

  .lg\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .lg\:max-w-\[55px\] {
    max-width: 55px;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:overflow-hidden {
    overflow: hidden;
  }

  .lg\:rounded-2xl {
    border-radius: 1rem;
  }

  .lg\:rounded-xl {
    border-radius: 0.75rem;
  }

  .lg\:border-2 {
    border-width: 2px;
  }

  .lg\:border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
  }

  .lg\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .lg\:p-5 {
    padding: 1.25rem;
  }

  .lg\:p-8 {
    padding: 2rem;
  }

  .lg\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .lg\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .lg\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lg\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .lg\:py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .lg\:pb-40 {
    padding-bottom: 10rem;
  }

  .lg\:pt-10 {
    padding-top: 2.5rem;
  }

  .lg\:text-end {
    text-align: end;
  }

  .lg\:text-10xl {
    font-size: 40px;
  }

  .lg\:text-7xl {
    font-size: 34px;
  }

  .lg\:text-base {
    font-size: 16px;
  }

  .lg\:text-md {
    font-size: 18px;
  }

  .lg\:shadow-alpha-light {
    --tw-shadow: 0px 4px 16px 0px #EAEAEA;
    --tw-shadow-colored: 0px 4px 16px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 576px) {
  .sm\:\[\&\:nth-child\(5\)\]\:border-l-0:nth-child(5) {
    border-left-width: 0px;
  }
}

.\[\&\:nth-last-child\(-n\+2\)\]\:border-l-0:nth-last-child(-n+2) {
  border-left-width: 0px;
}

@media not all and (min-width: 576px) {
  .max-sm\:\[\&\:nth-last-child\(-n\+2\)\]\:w-full:nth-last-child(-n+2) {
    width: 100%;
  }

  .max-sm\:\[\&\:nth-last-child\(-n\+2\)\]\:border-b-0:nth-last-child(-n+2) {
    border-bottom-width: 0px;
  }
}

@media (min-width: 576px) {
  .sm\:\[\&\:nth-last-child\(-n\+6\)\]\:border-b-0:nth-last-child(-n+6) {
    border-bottom-width: 0px;
  }
}





